.navigation{
    color: white ;
    flex: 1;
    background-color: rgb(35,137,218);
    z-index: 0;
    display: flex;
    flex-direction: column;
}

a{
    font-size: 2vh;
    padding: 2vh 0 2vh 3vh;
    margin: .5vh 0;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    transition: .1s;
}
a:hover{
    transform: scale(1.03);
    background-color: #1ca3ec;
}