.navigation{
    flex: 1;
    background-color: rgb(42, 109, 190);
    z-index: 0;
    display: flex;
    flex-direction: column;
}

a{
    font-size: 18px;
    padding: 20px 0 20px 15px;
    text-decoration: none;
    color: rgb(238, 247, 255);
    font-weight: bolder;
    transition: .1s;
}
a:hover{
    transform: scale(1.02);
    background-color: rgb(219, 230, 241);
    color: rgb(33, 38, 43);
}