

a{
    font-size: 16px;
    padding: 12px 0 12px 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:normal;
    transition: .1s;
    margin: 10px 0 0 0;
    border-radius: 10px;
}
a:hover{
    background-color: rgba(35,43,75,255);
} 