.consumerManagement{
    z-index: -1;
    height: 100%;
    width:  100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchAddBar{
    display: flex;
    flex-direction: row;
    gap: 1vw 1vw;
    justify-content: center;
    margin: 0 0 1vw 0;
}