.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  align-items: center;
  justify-content: center;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.consumerManagement{
  z-index: -1;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(2%);
}
.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.searchAddBar1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px 5px;
  margin:5px ;
  width: 350px;
} 
.searchBarMR{
  display: flex;
  flex-direction: column;
  height: 100%;
}


.body1{
  display: flex;
  height: 100%;
}
.adminpage{
  z-index: 1;
  height: 100%;
}
.cashierpage{
  z-index: 1;
  height: 100%;
}
.navigation{
  flex: 1;
  background-color: rgb(12,20,52);
  z-index: 0;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.routes{
  flex: 4.5;
  position: relative;
  background-color: rgb(244, 248, 255);
  color:rgb(6, 185, 0)
}


/*Login CSS*/
.parent{
  background:linear-gradient(rgb(0, 139, 186) 0%, rgb(255, 255, 255) 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content{
  width: 380px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1.0);
  background-color: aliceblue;
  color:rgb(12,20,52);
  border-radius: 20px;
}
.textFieldBox{
  width: 300px;
  padding:5px;
}
.textField{
  width: 100%;
  height: 100%;
}
.button{
  width:300px;
  height:20px;
  background-color:rgb(12,20,52);
}
.logoutNav{
  visibility: hidden;
}
.searchBarMR{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 479px){
  .content{
    width: 100%;
    height: 100%;
    background:linear-gradient(rgb(0, 139, 186) 0%, rgb(255, 255, 255) 80%);
  }
  .snackbar{
    transform: scale(1.7) translate(20%, -50%);  
  }
  .tablePaper{
    transform: scale(1.2) translateY(10%) ;
  }
  .billingYear{
    transform: scale(1.2) translate(8.4%, 15%) ;
  }
  .yearBox{
    transform: scale(1.2) translate(20%, 0%);
  }
  .dialog{
    transform: scale(1.4);
  }

  /*Navigation Mobile View*/
  .body1{
    flex-direction: column;
  }
  .navigation{
    flex-direction: row;
    flex: .2;
    align-items: center;
    z-index: 3;
  }
  .navbar{
    padding-right: 20px;
    margin-left: 10px;
  }
  .header{
    visibility: hidden;
  }
  .logoutNav{
    visibility: visible;
  }

  /*ReaderPage*/

.consumerManagement{
  transform: translateY(-3%);
}
.searchBar{
  flex-direction: column;
  width: 65%;
  transform: scale(1.5) translateY(15%);
  z-index: 1;
}
.readingTable{
  transform: scale(1.2) translateY(20%);
  width: 80%;
  z-index: 0;
}
.readerDialog{
  transform: scale(1.5);
}

/*Meter Reading Mobile View*/
.searchBarMR{
  transform: translateY(-25%) scale(.9);
}
.meterReadingTable{
  transform: translateY(20%);
  z-index: 0;
}
  }


