.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  color: white;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body1{
  display: flex;
  height: 100%;
}
.adminpage{
  z-index: 1;
  height: 100%;
}
.cashierpage{
  z-index: 1;
  height: 100%;
}
.routes{
  flex: 4.5;
  position: relative;
  background-color: rgb(244, 248, 255);
}